<div class="span12">
  <div id="branding-box">
	<a class="logo-text pull-right" href="http://libraries.mercer.edu/"><img src="http://libraries.mercer.edu/++resource++mercu.images/mercer_white.png"><br><span>University Libraries</span></a>
	<a href="http://abhsarchives.org/"><img src="<%= j(root_path) %>/assets/ABHS-logo-white.png"></a>
  </div>
</div>
